* {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: rgb(210, 210, 210);
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    height: 960px;
    width: 960px;
    background-color: white;
}

#set {
    height: 64px;
    width: 256px;
    margin: 8px;
}

/*.grid-item {
    width: 25%;
    height: 25%;
}*/